<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .hidden {
            display: none;
        }
        .danger {
            color: red;
        }

    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center" style="margin-top: 1em">李氏小兒科ADMIN</h1>
    <hr>
    <div class="container text-center">
        <h2>Game controls</h2>
        <div class="form-block">
            <button class="btn btn-primary next-question">Next 選擇題</button>
        </div>
        <br>
        <div class="form-block">
            <button class="btn btn-success move-to-lobby">Move everyone back to lobby</button>
        </div>
        <br>
        <div class="form-block">
            <button class="btn btn-primary quick-answer-section">Next 搶答題</button>
            <button class="btn btn-primary next-player">Show Next Player</button>
        </div>
        <br>
        <div class="form-block">
            <button class="btn btn-danger reset-to-login">KICK EVERYONE OUT</button>
        </div>
    </div>
    <hr>
    <div class="container text-center">
        <h2>Live Statistics</h2>
        <p>Total current players: <span class="total-players">N/A</span></p>
        <p>Current players: <span class="current-players">N/A</span></p>
        <p>Players answered question: <span class="answered-players">N/A</span></p>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3>Upload: Players</h3>
            <p class="danger">Note: Will delete all old players.</p>
            <form action="{{ url_for('register_players')}}" method="post" enctype=multipart/form-data>
                <div class="form-group">
                    <input class="form-control-file" type="file" name="file">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Upload: Questions</h3>
            <p class="danger">Note: Will delete all old questions.</p>
            <form action="{{ url_for('import_questions')}}" method="post" enctype=multipart/form-data>
                <div class="form-group">
                    <input class="form-control-file" type="file" name="file">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
    <hr>
</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

        var socket = io.connect('http://' + document.domain + ':' + location.port + '/game');

        socket.on('stats', function(data) {
            $(".total-players").text(data["total_players"] + "");
            $(".current-players").text(data["players"] + "");
        });

        var mc = true;
        var timer = null;

        socket.on("multiple_choice", function(data){
            if(data === false){
                mc = false;
                if(timer != null){
                    clearTimeout(timer)
                }
            }
        });

        $(".quick-answer-section").click(function(){
            $.post("{{ url_for('next_quick_question') }}", function (data) {
                console.log(data);
            });
        });

        $(".next-player").click(function(){
            $.post("{{ url_for('next_player') }}", function (data) {
            });
        });

        $(".next-question").click(function () {
            if(timer != null){
                clearTimeout(timer);
            }
            if(mc === true){
                console.log("created timer")
                timer = setTimeout(
                    function() {
                        $(".move-to-lobby").click()
                    }
                    , 15000
                );
                $.post("{{ url_for('next_question') }}", function (data) {
                });
            }
        });

        $(".move-to-lobby").click(function () {
            if(timer != null){
                clearTimeout(timer);
            }
            $.post("{{ url_for('back_to_lobby') }}");
        });

        $(".reset-to-login").click(function () {
           $.post("{{ url_for('reset_everyone') }}");
        });


    });

</script>
</html>