<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
<section class="show-question">
    <h1 class="le-question"></h1>

</section>
<section class="lobby">
    <p>TV</p>
    <p class="first"></p>
    <p class="second"></p>
    <p class="third"></p>
</section>


</section>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/game');

        socket.on('lobby', function(data) {
            var li = data;
            var rank = ["first", "second", "third"];
            var i;
            for(i = 0;i < rank.length; i++){
                var name = li[i][0];
                var score = li[i][1];
                $(".lobby ." + rank[i]).text("Player: " + name + " Score: " + score);
            }
        });

        socket.on('multiple_choice', function (data) {
            $(".le-question").text(data['question']);
        });

    });
</script>
</html>