<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
<section class="show-question">
    <h1 class="le-question"></h1>

</section>
<section class="lobby">
    <p>TV</p>
    <table>
        <tr class="first">
            <td class="firstName"></td>
            <td class="firstScore"></td>
        </tr>
        <tr class="second">
            <td class="secondName"></td>
            <td class="secondScore"></td>
        </tr>
        <tr class="third">
            <td class="thirdName"></td>
            <td class="thirdScore"></td>
        </tr>
    </table>
</section>

<section class="first_guy">
    <h2 class="first_guy_name"></h2>
</section>

<section class="answer">
    
</section>


</section>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/game');

        socket.on('lobby', function(data) {
            $(".firstName").text(data[0][0])
            $(".firstScore").text(data[0][1])
            $(".secondName").text(data[1][0])
            $(".secondScore").text(data[1][1])
            $(".thirdName").text(data[2][0])
            $(".thirdScore").text(data[2][1])
        });

        socket.on('multiple_choice', function (data) {
            $(".le-question").text(data['question']);
        });

        socket.on("first_guy", function(data){
            $(".first_guy_name").text(data)
        });

    });
</script>
</html>